<div class="col-12 col-sm-6 col-md-4">
  <div class="card">
    <a href="<%= product.link %>" target="_blank"><%= image_tag(product.photo.index_size.url, alt: product.name) %></a>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    $<%= product.price %>
  </div>
</div>